@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");
@import "~font-awesome/css/font-awesome.min.css";

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.test {
  font-family: "Pangolin", cursive;
}

.wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.app-texts-container {
  text-align: center;
  margin-bottom: 1.25rem;
}

.text {
  width: 33.333333%;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

.mb-8 {
  margin-bottom: 0.5rem;
}

.input-form {
  grid-template-columns: repeat(12, minmax(0, 1fr));
  display: grid;
  gap: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 30rem;
  margin-bottom: 2rem;
}

.input-wrapper {
  grid-column: span 10 / span 10;
}

.input {
  padding: 0.75rem;
  border: 2px solid #fbbf24;
  border-radius: 0.5rem;
  width: 100%;
  height: 3rem;
  outline: none;
}

.input:focus {
  border: 2px solid #d97706;
}

.input-add-btn {
  grid-column: span 2 / span 2;
}

.btn {
  padding: 0.75rem;
  border-radius: 0.5rem;
  font-weight: 700;
  background-color: #10b981;
  color: #fff;
  border: none;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

.btn:hover {
  background-color: #34d399;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.btn-icon {
  font-size: 21.33px;
}

.todo-list-container {
  width: 30rem;
  min-height: 30rem;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  background-color: #fef3c7;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.list-title {
  margin: 0;
  color: #b45309;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
}

.list-body {
  padding-left: 0;
  margin: 0;
  list-style: none;
  font-family: "Pangolin", cursive;
  font-size: 1.5rem;
  line-height: 2rem;
}

.list-select {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  border: 2px solid #d97706;
  /* outline: none; */
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;
  border-bottom: 1px solid #fde68a;
  cursor: pointer;
  transition: all 0.2s ease-in-out; 
}

.list-item-icon {
  font-size: 1rem;
  color: #d97706;
  display: none;
  cursor: pointer;
}

.list-item:hover .list-item-icon {
  display: block;
}

.done {
  text-decoration: line-through;
  color: #9ca3af;
  cursor: default;
  transition: all 0.2s ease-in-out; 
}

.texts {
  transition: all 0.2s ease-in-out; 
}

.hidden {
  display: none;
}

@media only screen and (max-width: 400px) {
  .app-texts-container {
    display: none;
  }
  .input-form {
    width: 100%;
  }
  .todo-list-container {
    width: 100%;
    padding: 16px;
  }
  .list-item-icon {
    display: block;
  }
}